.navbar {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  width: 65%;
  padding: 5px;
  z-index: 15;
}

.icon {
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: rgb(22, 22, 22);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9;
}

.icon img {
  width: 30px; 
  height: 30px;
  display: block;
}

.icon-text {
  display: none;
}

.icon:hover img {
  display: none; 
}

.icon:hover .icon-text {
  display: block; 
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .navbar {
    width: 90%;
    padding: 2px;
  }

  .icon img {
    width: 20px;
    height: 20px;
  }
}